@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Muli);

.remark-slide-content img {
  width: 90%;
}

.remark-slide-content a {
  color: black;
  text-decoration: underline;
}

.remark-slide-content a:hover {
  color: #555;
}

.remark-slide-content li {
  margin-bottom: 10px;
}

.remark-slide-content h1 {
  font: normal 5rem 'Yanone Kaffeesatz';
  margin-top: 0;
  margin-bottom: 1rem;
}

.remark-slide-content h2 {
  font: normal 3rem 'Yanone Kaffeesatz';
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.remark-slide-content blockquote p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.remark-slide-content {
  font: 1.5rem Muli;
  padding-left: 4rem;
  padding-right: 4rem;
  background-image: url("gitlab.png");
  background-position: top 1em right 1em;
  background-repeat: no-repeat;
  background-size: 4em;
}

.remark-slide-content.center.middle {
  background-color: white;
}

.remark-slide-number {
  font-size: 1rem;
}

li > ul {
  margin-top: 10px;
}

.remark-inline-code {
  background-color: lightpink;
}

.remark-slide-content strong {
  font-style: italic;
}
